body{
    background-image: url(Background.jpg);
    margin: 0;
    background-repeat: no-repeats;
 

}

#ClockContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(5px);
}